Repository simshanith/lit-ui-router: changes, and which Codecov flags are due for each by the changed paths.
All: lit-ui-router, navigation-location-plugin

docs(readme): legend as table with exact badge hex codes
  README.md
Due: none

docs(readme): orange legend badge shows passing text, drop release-owed clause
  README.md
Due: none

docs(readme): drop hex color column from legend
  README.md
Due: none

docs(readme): published-packages table with per-package release badges; top row license+website
  README.md
Due: none

docs(readme): promote tagline heading to h2
  README.md
Due: none

docs(readme): drop hr under tagline
  README.md
Due: none

docs(readme): move published-packages table to page bottom, slim top link
  README.md
Due: none

docs(readme): split package name h1 + tagline h2
  README.md
Due: none

docs(readme): lit-ui-router h1 + tagline as page title, drop UI-Router for Lit
  README.md
Due: none

docs(readme): table back under badges, tagline below it with hr
  README.md
Due: none

docs(readme): label legend table
  README.md
Due: none

docs(readme): bold Legend label above badge table
  README.md
Due: none

docs(readme): demote published-packages to h4, legend to h5
  README.md
Due: none

docs(readme): single badge row — license, ci, website
  README.md
Due: none

test: demote location-plugin URL-shape assertions to package unit specs (#401)
  apps/sample-app-lit-e2e/src/integration/location_plugins.cy.js
  packages/lit-ui-router/src/specs/location-plugins.spec.ts
  packages/navigation-location-plugin/src/specs/url-shape.spec.ts
Due: lit-ui-router, navigation-location-plugin

docs(readme): badge rework (#408)
  README.md
Due: none

ci(e2e): cache sample-app-lit-e2e test via dependency-edged inputs
  TURBO.md
  apps/sample-app-lit-e2e/turbo.json
Due: none

ci(e2e): cache sample-app-lit-e2e test via dependency-edged inputs (#398)
  TURBO.md
  apps/sample-app-lit-e2e/turbo.json
Due: none

ci: dispatch input to run the ci:main graph on demand
  .github/workflows/build-test.yml
Due: none

test: centralize happy-dom parent-first mount workaround + ordering canary
  packages/lit-ui-router-mobx/src/specs/router-reaction-controller.spec.ts
  packages/lit-ui-router/src/specs/happy-dom-conformance.spec.ts
  packages/lit-ui-router/src/specs/test-utils.ts
  packages/lit-ui-router/src/specs/ui-view.spec.ts
  packages/lit-ui-router/vitest.config.ts
Due: lit-ui-router

test: isolate happy-dom projects — registry-state specs need per-file isolation
  packages/lit-ui-router-mobx/vitest.config.ts
  packages/lit-ui-router/vitest.config.ts
Due: none

test: happy-dom project split — browser mode only for browser-dependent specs
  packages/lit-ui-router-mobx/package.json
  packages/lit-ui-router-mobx/src/specs/router-reaction-controller.spec.ts
  packages/lit-ui-router-mobx/vitest.config.ts
  packages/lit-ui-router/package.json
  packages/lit-ui-router/src/specs/browser-test-utils.ts
  packages/lit-ui-router/src/specs/test-utils.ts
  packages/lit-ui-router/src/specs/ui-sref.spec.ts
  packages/lit-ui-router/src/specs/ui-view.spec.ts
  packages/lit-ui-router/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lit-ui-router

fix: regenerate pnpm-lock for happy-dom vitest peer re-keying
  pnpm-lock.yaml
Due: none

test: extract @tools/router-test-utils — single owner of happy-dom-safe mount ordering
  packages/lit-ui-router-mobx/package.json
  packages/lit-ui-router-mobx/src/specs/router-reaction-controller.spec.ts
  packages/lit-ui-router-mobx/tsconfig.json
  packages/lit-ui-router/package.json
  packages/lit-ui-router/src/specs/happy-dom-conformance.spec.ts
  packages/lit-ui-router/src/specs/test-utils.ts
  packages/lit-ui-router/src/specs/ui-view.spec.ts
  packages/lit-ui-router/tsconfig.json
  pnpm-lock.yaml
  tools/router-test-utils/package.json
  tools/router-test-utils/src/mount.ts
  tools/router-test-utils/tsconfig.json
Due: lit-ui-router

test: rescope helper to @tools/happy-dom — generic appendParentFirst + canary suite
  packages/lit-ui-router-mobx/package.json
  packages/lit-ui-router-mobx/src/specs/router-reaction-controller.spec.ts
  packages/lit-ui-router-mobx/tsconfig.json
  packages/lit-ui-router/package.json
  packages/lit-ui-router/src/specs/test-utils.ts
  packages/lit-ui-router/tsconfig.json
  pnpm-lock.yaml
  tools/happy-dom/package.json
  tools/happy-dom/src/append.ts
  tools/happy-dom/src/specs/happy-dom-conformance.spec.ts
  tools/happy-dom/tsconfig.json
  tools/happy-dom/turbo.json
  tools/happy-dom/vitest.config.ts
  tools/router-test-utils/package.json
  tools/router-test-utils/src/mount.ts
Due: lit-ui-router

docs(specs): strip refactor narration — comments state present constraints only
  packages/lit-ui-router-mobx/src/specs/router-reaction-controller.spec.ts
  packages/lit-ui-router-mobx/tsconfig.json
  packages/lit-ui-router-mobx/vitest.config.ts
  packages/lit-ui-router/src/specs/test-utils.ts
  packages/lit-ui-router/tsconfig.json
  packages/lit-ui-router/vitest.config.ts
Due: lit-ui-router

test: happy-dom project split — browser mode only for browser-dependent specs (#403)
  packages/lit-ui-router-mobx/package.json
  packages/lit-ui-router-mobx/src/specs/router-reaction-controller.spec.ts
  packages/lit-ui-router-mobx/tsconfig.json
  packages/lit-ui-router-mobx/vitest.config.ts
  packages/lit-ui-router/package.json
  packages/lit-ui-router/src/specs/browser-test-utils.ts
  packages/lit-ui-router/src/specs/test-utils.ts
  packages/lit-ui-router/src/specs/ui-sref.spec.ts
  packages/lit-ui-router/src/specs/ui-view.spec.ts
  packages/lit-ui-router/tsconfig.json
  packages/lit-ui-router/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/happy-dom/package.json
  tools/happy-dom/src/append.ts
  tools/happy-dom/src/specs/happy-dom-conformance.spec.ts
  tools/happy-dom/tsconfig.json
  tools/happy-dom/turbo.json
  tools/happy-dom/vitest.config.ts
Due: lit-ui-router

ci: single vitest pass per PR — coverage carries correctness, engines matrix on main
  packages/lit-ui-router/package.json
  packages/navigation-location-plugin/package.json
  turbo.json
Due: none

ci: single vitest pass per PR — coverage carries correctness, engines matrix on main (#399)
  packages/lit-ui-router/package.json
  packages/navigation-location-plugin/package.json
  turbo.json
Due: none

ci: dispatch input to run the ci:main graph on demand (#410)
  .github/workflows/build-test.yml
Due: none

docs: sync mise/turbo/contributing docs with the ci:main restructure
  .config/mise/config.toml
  CONTRIBUTING.md
  RELEASE.md
  TURBO.md
  tools/release/mise.toml
Due: none

build(navigation-location-plugin): adopt two-pass oxc-emit build
  packages/navigation-location-plugin/package.json
  packages/navigation-location-plugin/src/index.ts
  packages/navigation-location-plugin/tsconfig.json
  packages/navigation-location-plugin/tsconfig.src.json
  pnpm-lock.yaml
Due: navigation-location-plugin

build(lit-ui-router-mobx): adopt two-pass oxc-emit build
  packages/lit-ui-router-mobx/package.json
  packages/lit-ui-router-mobx/src/reaction-controller.ts
  packages/lit-ui-router-mobx/src/router-reaction-controller.ts
  packages/lit-ui-router-mobx/tsconfig.json
  packages/lit-ui-router-mobx/tsconfig.peer-floor.json
  packages/lit-ui-router-mobx/tsconfig.src.json
  pnpm-lock.yaml
Due: none

docs: fold in engines matrix, tools/happy-dom, and mainGraph dispatch (#399 #403 #410)
  CONTRIBUTING.md
  RELEASE.md
  TURBO.md
Due: none

docs(turbo): root graph shows structure only — with-edges fan out, config detail moves to notes
  TURBO.md
Due: none

docs(contributing): standardize on mise run ci / ci_main; pnpm run ci noted as alias
  CONTRIBUTING.md
Due: none

build(lit-ui-router-mobx): adopt two-pass oxc-emit build (#395)
  packages/lit-ui-router-mobx/package.json
  packages/lit-ui-router-mobx/src/reaction-controller.ts
  packages/lit-ui-router-mobx/src/router-reaction-controller.ts
  packages/lit-ui-router-mobx/tsconfig.json
  packages/lit-ui-router-mobx/tsconfig.peer-floor.json
  packages/lit-ui-router-mobx/tsconfig.src.json
  pnpm-lock.yaml
Due: none

build(navigation-location-plugin): adopt two-pass oxc-emit build (#396)
  packages/navigation-location-plugin/package.json
  packages/navigation-location-plugin/src/index.ts
  packages/navigation-location-plugin/tsconfig.json
  packages/navigation-location-plugin/tsconfig.src.json
  pnpm-lock.yaml
Due: navigation-location-plugin

docs: sync mise/turbo/contributing docs with the ci:main restructure (#409)
  .config/mise/config.toml
  CONTRIBUTING.md
  RELEASE.md
  TURBO.md
  tools/release/mise.toml
Due: none

ci(turbo): typecheck and lint depend on ^build:types only
  docs/turbo.json
  packages/ui-router-server/turbo.json
  turbo.json
Due: none

Path conditions:
  lit-ui-router: any of: packages/lit-ui-router/src/**
  navigation-location-plugin: any of: packages/navigation-location-plugin/src/**
