Repository simshanith/lit-ui-router: changes, and which Codecov flags are due for each by the changed paths.
All: lit-ui-router, navigation-location-plugin

feat(tooling): migrate eslint to oxlint (#231)
  .oxlintrc.json
  apps/sample-app-lit-e2e/package.json
  apps/sample-app-lit-mobx/package.json
  apps/sample-app-lit-vanilla/package.json
  apps/sample-app-shared/package.json
  docs/package.json
  eslint.config.js
  examples/package.json
  package.json
  packages/lit-ui-router-mobx/package.json
  packages/lit-ui-router/package.json
  packages/navigation-location-plugin/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/dts-backtest/package.json
  tools/typedoc-plugin-lit-ui-router/package.json
  turbo.json
Due: none

style: reformat html, vue, and workflow yaml with oxfmt
  .github/workflows/bump-version.yml
  apps/sample-app-lit-mobx/index.html
  apps/sample-app-lit-vanilla/index.html
  docs/.vitepress/theme/components/ExampleEmbed.vue
  docs/.vitepress/theme/components/StackBlitzEmbed.vue
  examples/hellogalaxy/index.html
  examples/hellosolarsystem/index.html
  examples/helloworld/index.html
Due: none

feat(format): extend oxfmt scope to html, yaml, and vue files
  apps/sample-app-lit-mobx/package.json
  apps/sample-app-lit-vanilla/package.json
  docs/package.json
  examples/package.json
  package.json
  turbo.json
Due: none

feat(format): enable oxfmt sortPackageJson
  .oxfmtrc.json
Due: none

style: sort package.json manifests with oxfmt
  docs/package.json
  examples/hellogalaxy/package.json
  examples/hellosolarsystem/package.json
  examples/helloworld/package.json
  package.json
  packages/lit-ui-router-mobx/package.json
  packages/lit-ui-router/package.json
  packages/navigation-location-plugin/package.json
  tools/dts-backtest/package.json
  tools/typedoc-plugin-lit-ui-router/package.json
Due: none

feat(tooling): add oxlint-tsgolint and enable type-aware ruleset (triage baseline)
  .oxlintrc.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat(tooling): triage type-aware ruleset dispositions
  .oxlintrc.json
Due: none

fix: drop assertions flagged by typescript/no-unnecessary-type-assertion
  apps/sample-app-lit-mobx/src/app/mymessages/Compose.ts
  apps/sample-app-lit-mobx/src/app/mymessages/MessageList.ts
  apps/sample-app-lit-vanilla/src/app/mymessages/Compose.ts
  apps/sample-app-lit-vanilla/src/app/mymessages/MessageList.ts
  apps/sample-app-shared/src/app/mymessages/Message.ts
  apps/sample-app-shared/src/app/mymessages/MyMessages.ts
  apps/sample-app-shared/src/app/prefs/FeatureFlagsPanel.ts
  packages/lit-ui-router/src/ui-sref-active.ts
  tools/typedoc-plugin-lit-ui-router/src/index.ts
Due: lit-ui-router

fix(lit-ui-router): resolve type-aware promise handling findings
  packages/lit-ui-router-mobx/src/router-store.ts
  packages/lit-ui-router/src/specs/ui-sref-active.spec.ts
  packages/lit-ui-router/src/ui-router.ts
  packages/lit-ui-router/src/ui-sref-active.ts
  packages/lit-ui-router/src/ui-sref.ts
  packages/lit-ui-router/src/ui-view.ts
Due: lit-ui-router

fix(navigation-location-plugin): type the Navigation API access
  packages/navigation-location-plugin/src/index.ts
Due: navigation-location-plugin

fix(apps,tools): resolve type-aware findings in sample apps and typedoc plugin
  apps/sample-app-lit-mobx/src/app/global/appConfig.ts
  apps/sample-app-lit-mobx/src/app/global/authService.ts
  apps/sample-app-lit-mobx/src/app/main/App.ts
  apps/sample-app-lit-mobx/src/app/mymessages/Compose.ts
  apps/sample-app-lit-mobx/src/app/mymessages/messagesStore.ts
  apps/sample-app-lit-vanilla/src/app/global/appConfig.ts
  apps/sample-app-lit-vanilla/src/app/global/authService.ts
  apps/sample-app-lit-vanilla/src/app/main/App.ts
  apps/sample-app-lit-vanilla/src/app/mymessages/Compose.ts
  apps/sample-app-shared/src/app/contacts/EditContact.ts
  apps/sample-app-shared/src/app/main/Login.ts
  apps/sample-app-shared/src/app/mymessages/Message.ts
  tools/typedoc-plugin-lit-ui-router/src/kind-indexes.ts
Due: none

fix(examples): type-aware findings; wire lint task to ^build
  examples/hellogalaxy/src/main.ts
  examples/hellosolarsystem/src/main.ts
  turbo.json
Due: none

style: prettier after type-aware autofixes
  packages/lit-ui-router/src/ui-sref-active.ts
  tools/typedoc-plugin-lit-ui-router/src/index.ts
Due: lit-ui-router

fix(docs): register states individually in Quick Start snippets
  README.md
  docs/introduction.md
  packages/lit-ui-router/README.md
  packages/lit-ui-router/src/specs/core.spec.ts
Due: lit-ui-router

chore: remove unneeded test
  packages/lit-ui-router/src/specs/core.spec.ts
Due: lit-ui-router

fix(docs): register states individually in Quick Start snippets (#234)
  README.md
  docs/introduction.md
  packages/lit-ui-router/README.md
Due: none

feat(ci): optional branch-head CI alongside required merge-head check
  .github/workflows/build-test.yml
Due: none

feat(tooling): adopt oxlint-tsgolint type-aware linting (#233)
  .oxlintrc.json
  apps/sample-app-lit-mobx/src/app/global/appConfig.ts
  apps/sample-app-lit-mobx/src/app/global/authService.ts
  apps/sample-app-lit-mobx/src/app/main/App.ts
  apps/sample-app-lit-mobx/src/app/mymessages/Compose.ts
  apps/sample-app-lit-mobx/src/app/mymessages/MessageList.ts
  apps/sample-app-lit-mobx/src/app/mymessages/messagesStore.ts
  apps/sample-app-lit-vanilla/src/app/global/appConfig.ts
  apps/sample-app-lit-vanilla/src/app/global/authService.ts
  apps/sample-app-lit-vanilla/src/app/main/App.ts
  apps/sample-app-lit-vanilla/src/app/mymessages/Compose.ts
  apps/sample-app-lit-vanilla/src/app/mymessages/MessageList.ts
  apps/sample-app-shared/src/app/contacts/EditContact.ts
  apps/sample-app-shared/src/app/main/Login.ts
  apps/sample-app-shared/src/app/mymessages/Message.ts
  apps/sample-app-shared/src/app/mymessages/MyMessages.ts
  apps/sample-app-shared/src/app/prefs/FeatureFlagsPanel.ts
  examples/hellogalaxy/src/main.ts
  examples/hellosolarsystem/src/main.ts
  package.json
  packages/lit-ui-router-mobx/src/router-store.ts
  packages/lit-ui-router/src/specs/ui-sref-active.spec.ts
  packages/lit-ui-router/src/ui-router.ts
  packages/lit-ui-router/src/ui-sref-active.ts
  packages/lit-ui-router/src/ui-sref.ts
  packages/lit-ui-router/src/ui-view.ts
  packages/navigation-location-plugin/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/typedoc-plugin-lit-ui-router/src/index.ts
  tools/typedoc-plugin-lit-ui-router/src/kind-indexes.ts
  turbo.json
Due: lit-ui-router, navigation-location-plugin

refactor(tooling): umbrella tsconfigs for first-class spec coverage
  packages/lit-ui-router-mobx/package.json
  packages/lit-ui-router-mobx/tsconfig.build.json
  packages/lit-ui-router-mobx/tsconfig.json
  packages/lit-ui-router-mobx/tsconfig.spec.json
  packages/lit-ui-router-mobx/vitest.config.ts
  packages/lit-ui-router/package.json
  packages/lit-ui-router/tsconfig.build.json
  packages/lit-ui-router/tsconfig.json
  packages/lit-ui-router/tsconfig.spec.json
  packages/lit-ui-router/vitest.config.ts
  packages/navigation-location-plugin/package.json
  packages/navigation-location-plugin/tsconfig.build.json
  packages/navigation-location-plugin/tsconfig.json
  packages/navigation-location-plugin/tsconfig.spec.json
Due: none

fix(specs): resolve findings surfaced by the umbrella program
  packages/lit-ui-router/src/specs/core.spec.ts
  packages/lit-ui-router/src/specs/ui-sref.spec.ts
  packages/lit-ui-router/src/specs/ui-view.spec.ts
  packages/navigation-location-plugin/src/specs/index.spec.ts
Due: lit-ui-router, navigation-location-plugin

chore(ci): trim codecov rationale comments to repo convention
  .github/workflows/build-test.yml
Due: none

chore(release): strip scripts from published manifests at pack
  .github/workflows/publish-npm.yml
Due: none

feat(ci): move codecov bundle-stats upload out of the cached build path
  apps/sample-app-lit-mobx/package.json
  apps/sample-app-lit-mobx/turbo.json
  apps/sample-app-lit-mobx/vite.config.ts
  apps/sample-app-lit-vanilla/package.json
  apps/sample-app-lit-vanilla/turbo.json
  apps/sample-app-lit-vanilla/vite.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/upload-bundle-stats.mjs
  turbo.json
Due: none

refactor(tooling): rely on native oxc tsconfig discovery for decorators
  packages/lit-ui-router-mobx/vitest.config.ts
  packages/lit-ui-router/vitest.config.ts
Due: none

fix(dev): deterministic dev server ports, no auto-open
  apps/README.md
  apps/sample-app-lit-mobx/vite.config.ts
  apps/sample-app-lit-vanilla/vite.config.ts
Due: none

feat(ci): optional branch-head CI alongside required merge-head check (#235)
  .github/workflows/build-test.yml
Due: none

fix(ci): filter codecov bundle stats by vite manifest provenance
  apps/sample-app-lit-mobx/vite.config.ts
  apps/sample-app-lit-vanilla/vite.config.ts
  scripts/upload-bundle-stats.mjs
Due: none

chore(release): strip scripts from published manifests at pack (#237)
  .github/workflows/publish-npm.yml
Due: none

fix(types): accept required-props templates and model Lit views in LitStateDeclaration
  packages/lit-ui-router/src/interface.ts
  packages/lit-ui-router/src/specs/core.spec.ts
  packages/lit-ui-router/src/specs/ui-view.spec.ts
Due: lit-ui-router

ci(turbo): gate umbrella tsconfigs with a cached typecheck task
  packages/lit-ui-router-mobx/package.json
  packages/lit-ui-router/package.json
  packages/navigation-location-plugin/package.json
  turbo.json
Due: none

refactor(lint): promote no-unsafe-* to error and clear all findings
  .oxlintrc.json
  apps/sample-app-lit-e2e/src/support/e2e.ts
  apps/sample-app-shared/src/app/contacts/states.ts
  apps/sample-app-shared/src/app/global/dialogService.ts
  apps/sample-app-shared/src/app/global/requiresAuth.hook.ts
  apps/sample-app-shared/src/app/main/states.ts
  apps/sample-app-shared/src/app/util/featureDetection.ts
  docs/.vitepress/config.ts
  docs/.vitepress/env.d.ts
  docs/.vitepress/theme/index.ts
  packages/lit-ui-router/src/core.ts
  packages/lit-ui-router/src/ui-sref-active.ts
  packages/lit-ui-router/src/ui-sref.ts
  packages/lit-ui-router/src/ui-view.ts
  tools/typedoc-plugin-lit-ui-router/src/index.ts
  tools/typedoc-plugin-lit-ui-router/src/kind-indexes.ts
Due: lit-ui-router

refactor(tooling): umbrella tsconfigs for first-class spec coverage (#236)
  packages/lit-ui-router-mobx/package.json
  packages/lit-ui-router-mobx/tsconfig.build.json
  packages/lit-ui-router-mobx/tsconfig.json
  packages/lit-ui-router-mobx/tsconfig.spec.json
  packages/lit-ui-router-mobx/vitest.config.ts
  packages/lit-ui-router/package.json
  packages/lit-ui-router/src/specs/core.spec.ts
  packages/lit-ui-router/src/specs/ui-sref.spec.ts
  packages/lit-ui-router/src/specs/ui-view.spec.ts
  packages/lit-ui-router/tsconfig.build.json
  packages/lit-ui-router/tsconfig.json
  packages/lit-ui-router/tsconfig.spec.json
  packages/lit-ui-router/vitest.config.ts
  packages/navigation-location-plugin/package.json
  packages/navigation-location-plugin/src/specs/index.spec.ts
  packages/navigation-location-plugin/tsconfig.build.json
  packages/navigation-location-plugin/tsconfig.json
  packages/navigation-location-plugin/tsconfig.spec.json
Due: lit-ui-router, navigation-location-plugin

refactor(lint): promote no-unsafe-* to error and clear all findings (#243)
  .oxlintrc.json
  apps/sample-app-lit-e2e/src/support/e2e.ts
  apps/sample-app-shared/src/app/contacts/states.ts
  apps/sample-app-shared/src/app/global/dialogService.ts
  apps/sample-app-shared/src/app/global/requiresAuth.hook.ts
  apps/sample-app-shared/src/app/main/states.ts
  apps/sample-app-shared/src/app/util/featureDetection.ts
  docs/.vitepress/config.ts
  docs/.vitepress/env.d.ts
  docs/.vitepress/theme/index.ts
  packages/lit-ui-router/src/core.ts
  packages/lit-ui-router/src/ui-sref-active.ts
  packages/lit-ui-router/src/ui-sref.ts
  packages/lit-ui-router/src/ui-view.ts
  tools/typedoc-plugin-lit-ui-router/src/index.ts
  tools/typedoc-plugin-lit-ui-router/src/kind-indexes.ts
Due: lit-ui-router

ci(turbo): gate umbrella tsconfigs with a cached typecheck task (#242)
  packages/lit-ui-router-mobx/package.json
  packages/lit-ui-router/package.json
  packages/navigation-location-plugin/package.json
  turbo.json
Due: none

fix(dev): deterministic dev server ports, no auto-open (#240)
  apps/README.md
  apps/sample-app-lit-mobx/vite.config.ts
  apps/sample-app-lit-vanilla/vite.config.ts
Due: none

feat(core): support argless routed element constructors
  packages/lit-ui-router/src/core.ts
  packages/lit-ui-router/src/interface.ts
  packages/lit-ui-router/src/specs/core.spec.ts
  packages/lit-ui-router/src/specs/ui-view.spec.ts
Due: lit-ui-router

fix(types): accept required-props templates and model Lit views in LitStateDeclaration (#241)
  packages/lit-ui-router/src/interface.ts
  packages/lit-ui-router/src/specs/core.spec.ts
  packages/lit-ui-router/src/specs/ui-view.spec.ts
Due: lit-ui-router

fix(ci): restore codecov's historical <name>-esm bundle naming
  apps/sample-app-lit-mobx/package.json
  apps/sample-app-lit-vanilla/package.json
  scripts/upload-bundle-stats.mjs
Due: none

feat(core): support argless routed element constructors (#245)
  packages/lit-ui-router/src/core.ts
  packages/lit-ui-router/src/interface.ts
  packages/lit-ui-router/src/specs/core.spec.ts
  packages/lit-ui-router/src/specs/ui-view.spec.ts
Due: lit-ui-router

Path conditions:
  lit-ui-router: any of: packages/lit-ui-router/src/**
  navigation-location-plugin: any of: packages/navigation-location-plugin/src/**
