Repository simshanith/lit-ui-router: changes, and which Codecov flags are due for each by the changed paths.
All: lit-ui-router, navigation-location-plugin

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto

# Component definitions for monorepo packages
# https://docs.codecov.com/docs/components
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: lit-ui-router
      name: lit-ui-router
      paths:
        - packages/lit-ui-router/src/**
    - component_id: navigation-location-plugin
      name: navigation-location-plugin
      paths:
        - packages/navigation-location-plugin/src/**

fix(lit-ui-router-ssr): uiViewSlot() inherits the renderLight flag from ssr-client's class (#936)
  packages/lit-ui-router-ssr/src/client.ts
  packages/lit-ui-router-ssr/src/specs/render-light-flag.spec.ts
  packages/lit-ui-router-ssr/vitest.config.ts
Due: none

feat(lit-ui-router-ssr): add the register entry that defines a served ui-view (#940)
  packages/lit-ui-router-ssr/README.md
  packages/lit-ui-router-ssr/package.json
  packages/lit-ui-router-ssr/src/client.ts
  packages/lit-ui-router-ssr/src/register.ts
  packages/lit-ui-router-ssr/src/served-view.ts
  packages/lit-ui-router-ssr/src/specs/client-coexist.spec.ts
  packages/lit-ui-router-ssr/src/specs/client.spec.ts
  packages/lit-ui-router-ssr/src/specs/fixture.ts
  packages/lit-ui-router-ssr/src/specs/register.spec.ts
  packages/lit-ui-router-ssr/src/specs/ui-view-renderer.spec.ts
  packages/lit-ui-router-ssr/vitest.config.ts
  www/lit-ui-router.dev/packages/ssr.md
Due: none

refactor(lit-ui-router): lift the hydration seam out of ui-view into the ssr served view (#941)
  packages/lit-ui-router-ssr/README.md
  packages/lit-ui-router-ssr/dev-warnings.json
  packages/lit-ui-router-ssr/src/adopt-context.ts
  packages/lit-ui-router-ssr/src/client.ts
  packages/lit-ui-router-ssr/src/dev-warn.ts
  packages/lit-ui-router-ssr/src/served-view.ts
  packages/lit-ui-router-ssr/src/specs/client.spec.ts
  packages/lit-ui-router-ssr/src/specs/served-view.spec.ts
  packages/lit-ui-router-ssr/typedoc.json
  packages/lit-ui-router-ssr/vitest.config.ts
  packages/lit-ui-router/dev-warnings.json
  packages/lit-ui-router/src/context.ts
  packages/lit-ui-router/src/dev-warn.ts
  packages/lit-ui-router/src/specs/context.spec.ts
  packages/lit-ui-router/src/specs/ui-view.spec.ts
  packages/lit-ui-router/src/ui-view.ts
  pnpm-workspace.yaml
  www/lit-ui-router.dev/guides/view-fallback-content.md
  www/lit-ui-router.dev/packages/ssr.md
Due: lit-ui-router

fix(release): install tools/* whole in the release closure
  .config/mise/config.toml
  tools/release/src/checks/check-release-closure.core.test.ts
  tools/release/src/checks/check-release-closure.core.ts
  tools/release/src/checks/check-release-closure.ts
Due: none

build(deps): bump the oxc toolchain to 0.151 and rolldown to 1.2.9 (#952)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Revert "build(pnpm): resolve workspace deps through a named workspace catalog (#950)"
  apps/sample-app-lit-e2e/package.json
  apps/sample-app-lit-effect/package.json
  apps/sample-app-lit-mobx/package.json
  apps/sample-app-lit-vanilla/package.json
  apps/sample-app-routes/package.json
  apps/sample-app-shared/package.json
  eslint.config.ts
  package.json
  packages/eslint-plugin-lit-ui-router/package.json
  packages/lit-ui-router-effect/package.json
  packages/lit-ui-router-mobx/package.json
  packages/lit-ui-router-ssr/package.json
  packages/lit-ui-router/package.json
  packages/navigation-location-plugin/package.json
  packages/ui-router-server/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/build_and_test/package.json
  tools/bundle-probe/package.json
  tools/compat-guards/package.json
  tools/dts-backtest/package.json
  tools/embed-heights/package.json
  tools/eslint/package.json
  tools/lcov-rebase/package.json
  tools/lint-elements/package.json
  tools/lit-template-lint/package.json
  tools/release/package.json
  tools/repo-checks/package.json
  tools/shared/package.json
  tools/typedoc-plugin-lit-ui-router/package.json
  tools/vue-check/package.json
  tools/workers-builds/package.json
  www/lit-ui-router.dev/package.json
Due: none

revert: resolve workspace deps through a named workspace catalog (#950) (#961)
  apps/sample-app-lit-e2e/package.json
  apps/sample-app-lit-effect/package.json
  apps/sample-app-lit-mobx/package.json
  apps/sample-app-lit-vanilla/package.json
  apps/sample-app-routes/package.json
  apps/sample-app-shared/package.json
  eslint.config.ts
  package.json
  packages/eslint-plugin-lit-ui-router/package.json
  packages/lit-ui-router-effect/package.json
  packages/lit-ui-router-mobx/package.json
  packages/lit-ui-router-ssr/package.json
  packages/lit-ui-router/package.json
  packages/navigation-location-plugin/package.json
  packages/ui-router-server/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/build_and_test/package.json
  tools/bundle-probe/package.json
  tools/compat-guards/package.json
  tools/dts-backtest/package.json
  tools/embed-heights/package.json
  tools/eslint/package.json
  tools/lcov-rebase/package.json
  tools/lint-elements/package.json
  tools/lit-template-lint/package.json
  tools/release/package.json
  tools/repo-checks/package.json
  tools/shared/package.json
  tools/typedoc-plugin-lit-ui-router/package.json
  tools/vue-check/package.json
  tools/workers-builds/package.json
  www/lit-ui-router.dev/package.json
Due: none

test(release): require the release closure to hold its members' workspace deps
  tools/release/src/checks/check-release-closure.core.test.ts
  tools/release/src/checks/check-release-closure.core.ts
  tools/release/src/checks/check-release-closure.ts
Due: none

test(release): require the release closure to hold its members' workspace deps (#962)
  tools/release/src/checks/check-release-closure.core.test.ts
  tools/release/src/checks/check-release-closure.core.ts
  tools/release/src/checks/check-release-closure.ts
Due: none

Release 1.16.0-rc.1 (#963)
  packages/lit-ui-router/package.json
Due: none

docs(navigation-location-plugin): promote UIRouterNavigateInfo to public API
  packages/navigation-location-plugin/src/index.ts
Due: navigation-location-plugin

feat(release): offer prerelease as a bump-version increment choice
  .github/workflows/bump-version.yml
  docs/RELEASE.md
  tools/release/src/steps/release-increment-args.core.ts
  tools/release/src/steps/release-increment-args.test.ts
Due: none

docs(navigation-location-plugin): drop the experimental label and state the engine coverage
  apps/README.md
  apps/sample-app-shared/src/router.config.ts
  packages/navigation-location-plugin/README.md
  www/lit-ui-router.dev/guides/location-plugins.md
  www/lit-ui-router.dev/introduction.md
  www/lit-ui-router.dev/packages/index.md
  www/lit-ui-router.dev/packages/navigation-plugin.md
Due: none

Release 0.1.0-rc.2 (#964)
  packages/lit-ui-router-ssr/package.json
Due: none

feat(release): offer prerelease as a bump-version increment choice (#966)
  .github/workflows/bump-version.yml
  docs/RELEASE.md
  tools/release/src/steps/release-increment-args.core.ts
  tools/release/src/steps/release-increment-args.test.ts
Due: none

docs(navigation-location-plugin): register servicesPlugin in quick start, state TS requirement
  packages/navigation-location-plugin/README.md
  www/lit-ui-router.dev/packages/navigation-plugin.md
Due: none

refactor(navigation-location-plugin): drop composeNavigateUrl from the barrel
  packages/navigation-location-plugin/src/compose-navigate-url.ts
  packages/navigation-location-plugin/src/index.ts
  packages/navigation-location-plugin/src/specs/compose-navigate-url.spec.ts
Due: navigation-location-plugin

docs(navigation-location-plugin): credit framework bindings with router services setup
  packages/navigation-location-plugin/README.md
  www/lit-ui-router.dev/packages/navigation-plugin.md
Due: none

feat(atlas): pin lit-ui-router 1.16.0-rc.1 and lit-ui-router-ssr 0.1.0-rc.2, register through the ssr entry
  www/atlas.lit-ui-router.dev/app/SSR-VERDICT.md
  www/atlas.lit-ui-router.dev/app/package-lock.json
  www/atlas.lit-ui-router.dev/app/package.json
  www/atlas.lit-ui-router.dev/app/prerender.ts
  www/atlas.lit-ui-router.dev/app/src/main.ts
  www/atlas.lit-ui-router.dev/app/src/router.ts
  www/atlas.lit-ui-router.dev/app/src/views.ts
Due: none

docs(lit-ui-router-ssr): name lit-ui-router/pure and the prerender-side register import in the prerendered-app shape
  packages/lit-ui-router-ssr/README.md
  www/lit-ui-router.dev/packages/ssr.md
Due: none

docs(atlas): tighten the asks list in ssr-verdict for rumdl md076
  www/atlas.lit-ui-router.dev/app/SSR-VERDICT.md
Due: none

refactor(navigation-location-plugin): settle the public surface for 1.0 (#965)
  packages/navigation-location-plugin/src/compose-navigate-url.ts
  packages/navigation-location-plugin/src/index.ts
  packages/navigation-location-plugin/src/specs/compose-navigate-url.spec.ts
Due: navigation-location-plugin

feat(navigation-location-plugin): intercept the navigations the service itself starts (#946)
  apps/sample-app-shared/src/router.config.ts
  packages/navigation-location-plugin/README.md
  packages/navigation-location-plugin/src/index.ts
  packages/navigation-location-plugin/src/specs/index.spec.ts
  packages/navigation-location-plugin/src/specs/navigation-service.spec.ts
  packages/navigation-location-plugin/src/specs/plugin-seams.types.ts
  www/lit-ui-router.dev/packages/navigation-plugin.md
Due: navigation-location-plugin

docs(navigation-location-plugin): register servicesPlugin in quick start, state TS requirement (#968)
  packages/navigation-location-plugin/README.md
  www/lit-ui-router.dev/packages/navigation-plugin.md
Due: none

Release 1.0.0-rc.0 (#973)
  packages/navigation-location-plugin/package.json
Due: none

chore(examples): bump five examples to lit-ui-router ^1.16.0-rc.1
  examples/design-system-links/package-lock.json
  examples/design-system-links/package.json
  examples/hellogalaxy/package-lock.json
  examples/hellogalaxy/package.json
  examples/hellosolarsystem/package-lock.json
  examples/hellosolarsystem/package.json
  examples/helloworld/package-lock.json
  examples/helloworld/package.json
  examples/lint-eslint/package-lock.json
  examples/lint-eslint/package.json
Due: none

fix(lit-ui-router-ssr): clear the whole served interior on a mismatch
  packages/lit-ui-router-ssr/src/client.ts
  packages/lit-ui-router-ssr/src/specs/client.spec.ts
  packages/lit-ui-router-ssr/src/specs/fixture.ts
Due: none

feat(atlas): recompose the city's general notes and hydrate the plates from one template
  www/atlas.lit-ui-router.dev/HISTORY.md
  www/atlas.lit-ui-router.dev/app/SSR-VERDICT.md
  www/atlas.lit-ui-router.dev/app/public/sheets/city.html
  www/atlas.lit-ui-router.dev/app/src/generated/city-init.js
  www/atlas.lit-ui-router.dev/app/src/views.ts
  www/atlas.lit-ui-router.dev/gallery.html
  www/atlas.lit-ui-router.dev/generator/city-scene.mjs
Due: none

chore(examples): move the effect and mobx examples onto the rc via a peer override
  examples/hellogalaxy-effect/package-lock.json
  examples/hellogalaxy-effect/package.json
  examples/hellosolarsystem-mobx/package-lock.json
  examples/hellosolarsystem-mobx/package.json
Due: none

docs(navigation-location-plugin): drop the experimental label and state the engine coverage (#967)
  apps/README.md
  apps/sample-app-shared/src/router.config.ts
  packages/navigation-location-plugin/README.md
  www/lit-ui-router.dev/guides/location-plugins.md
  www/lit-ui-router.dev/introduction.md
  www/lit-ui-router.dev/packages/index.md
  www/lit-ui-router.dev/packages/navigation-plugin.md
Due: none

Release 1.0.0 (#976)
  packages/navigation-location-plugin/package.json
Due: none

feat(atlas): take ui-router-navigation-location-plugin 1.0 and let it intercept its own navigations
  www/atlas.lit-ui-router.dev/HISTORY.md
  www/atlas.lit-ui-router.dev/INITIATIVES.md
  www/atlas.lit-ui-router.dev/app/README.md
  www/atlas.lit-ui-router.dev/app/SSR-VERDICT.md
  www/atlas.lit-ui-router.dev/app/package-lock.json
  www/atlas.lit-ui-router.dev/app/package.json
  www/atlas.lit-ui-router.dev/app/src/experimental/analytics.ts
  www/atlas.lit-ui-router.dev/app/src/main.ts
  www/atlas.lit-ui-router.dev/app/src/router.ts
Due: none

fix(lit-ui-router): name the class that holds the tag when a register module stands down
  packages/lit-ui-router-ssr/src/specs/register.spec.ts
  packages/lit-ui-router/src/specs/register-guard.spec.ts
  packages/lit-ui-router/src/ui-router.register.ts
  packages/lit-ui-router/src/ui-view.register.ts
  www/lit-ui-router.dev/guides/development-builds.md
Due: lit-ui-router

docs(lit-ui-router): the view renders after the transition, the resolves generic, and initial's query
  packages/lit-ui-router/src/interface.ts
  www/lit-ui-router.dev/api/index.md
  www/lit-ui-router.dev/guides/component-lifecycle.md
  www/lit-ui-router.dev/guides/location-plugins.md
  www/lit-ui-router.dev/guides/route-guards.md
  www/lit-ui-router.dev/guides/unmatched-urls.md
Due: lit-ui-router

build(deps): bump pnpm to 12.7.0
  .config/mise/config.toml
  .config/mise/mise.lock
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/release/src/steps/pack-staged.ts
  tools/shared/src/exec.ts
Due: none

docs(navigation-location-plugin): type the intercept example with satisfies
  packages/navigation-location-plugin/README.md
  packages/navigation-location-plugin/src/index.ts
Due: navigation-location-plugin
