Repository simshanith/lit-ui-router: changes, and which Codecov flags are due for each by the changed paths.
All: lit-ui-router, navigation-location-plugin

style(tooling): apply review suggestions to the triggers config comments
  scripts/workers-builds-triggers.config.jsonc
Due: none

feat(docs): limit the worker spa fallback to urls matching app routes
  DEPLOY.md
  docs/package.json
  docs/worker/index.ts
  docs/worker/tsconfig.json
Due: none

feat(sample-app-shared): share the route url patterns from a worker-safe module
  .oxlintrc.json
  apps/sample-app-shared/package.json
  apps/sample-app-shared/src/app/contacts/states.ts
  apps/sample-app-shared/src/app/main/states.ts
  apps/sample-app-shared/src/app/mymessages/states.ts
  apps/sample-app-shared/src/app/prefs/states.ts
  apps/sample-app-shared/src/app/routeMatchers.ts
  apps/sample-app-shared/src/app/routes.test.ts
  apps/sample-app-shared/src/app/routes.ts
  apps/sample-app-shared/tsconfig.json
  pnpm-lock.yaml
Due: none

test(e2e): reach the in-router 404 by client navigation, assert in-mount 404s
  apps/sample-app-lit-e2e/src/docs/docs_site.cy.js
  apps/sample-app-lit-e2e/src/integration/not_found.cy.js
  apps/sample-app-lit-e2e/src/support/e2e.ts
Due: none

ci(github): switch squash body strategy to commit messages, drop body lint
  .github/workflows/bump-version.yml
  .github/workflows/semantic-pr.yml
  CONTRIBUTING.md
Due: none

feat(types): register ui-view and ui-router in HTMLElementTagNameMap
  packages/lit-ui-router/src/ui-router.ts
  packages/lit-ui-router/src/ui-view.ts
Due: lit-ui-router

refactor(test-utils): type mountInRouter via HTMLElementTagNameMap
  packages/lit-ui-router-mobx/src/specs/reaction-controller.spec.ts
  packages/lit-ui-router-mobx/src/specs/router-reaction-controller.spec.ts
  packages/lit-ui-router/src/specs/test-utils.ts
  packages/lit-ui-router/src/specs/transition-controller.spec.ts
Due: lit-ui-router

refactor: drop createElement/querySelector casts the tag name map obsoletes
  apps/sample-app-shared/src/main.ts
  packages/lit-ui-router/src/specs/ui-router.spec.ts
  packages/lit-ui-router/src/specs/ui-sref-active.spec.ts
  packages/lit-ui-router/src/specs/ui-sref.spec.ts
  packages/lit-ui-router/src/specs/ui-view.spec.ts
Due: lit-ui-router

fix(lit-ui-router): flag the dist/index.js barrel in sideEffects
  packages/lit-ui-router/package.json
Due: none

feat(types): register custom elements in HTMLElementTagNameMap (#285)
  apps/sample-app-shared/src/main.ts
  packages/lit-ui-router-mobx/src/specs/reaction-controller.spec.ts
  packages/lit-ui-router-mobx/src/specs/router-reaction-controller.spec.ts
  packages/lit-ui-router/src/specs/test-utils.ts
  packages/lit-ui-router/src/specs/transition-controller.spec.ts
  packages/lit-ui-router/src/specs/ui-router.spec.ts
  packages/lit-ui-router/src/specs/ui-sref-active.spec.ts
  packages/lit-ui-router/src/specs/ui-sref.spec.ts
  packages/lit-ui-router/src/specs/ui-view.spec.ts
  packages/lit-ui-router/src/ui-router.ts
  packages/lit-ui-router/src/ui-view.ts
Due: lit-ui-router

feat(lint): enable typescript/consistent-type-exports
  .oxlintrc.json
  packages/lit-ui-router/src/index.ts
Due: lit-ui-router

feat(lint): enable typescript/no-deprecated
  .oxlintrc.json
  packages/lit-ui-router/src/core.ts
  packages/lit-ui-router/src/specs/core.spec.ts
  packages/lit-ui-router/src/specs/ui-view.spec.ts
Due: lit-ui-router

feat(lint): enable typescript/no-useless-default-assignment
  .oxlintrc.json
  packages/lit-ui-router/src/ui-sref-active.ts
  packages/lit-ui-router/src/ui-sref.ts
Due: lit-ui-router

feat(lint): enable the string and collection idiom rules
  .oxlintrc.json
  apps/sample-app-lit-mobx/src/app/global/authService.ts
  apps/sample-app-lit-vanilla/src/app/global/authService.ts
  apps/sample-app-shared/src/app/global/dataSources.ts
  apps/sample-app-shared/src/app/mymessages/MessageTable.ts
  apps/sample-app-shared/src/app/mymessages/messageListUIService.ts
  apps/sample-app-shared/src/app/util/util.ts
  docs/.vitepress/theme/index.ts
  packages/lit-ui-router/src/ui-sref.ts
  packages/lit-ui-router/src/ui-view.ts
  packages/navigation-location-plugin/src/index.ts
  tools/typedoc-plugin-lit-ui-router/src/index.ts
Due: lit-ui-router, navigation-location-plugin

feat(lint): enable typescript/consistent-return
  .oxlintrc.json
  apps/sample-app-shared/src/app/global/requiresAuth.hook.ts
  packages/lit-ui-router/src/ui-sref-active.ts
Due: lit-ui-router

feat(lint): enable typescript/use-unknown-in-catch-callback-variable
  .oxlintrc.json
  apps/sample-app-shared/src/app/main/Login.ts
  scripts/check-catalog.ts
  scripts/check-pack.ts
Due: none

fix(lit-ui-router): flag the dist/index.js barrel in sideEffects (#286)
  packages/lit-ui-router/package.json
Due: none

feat(lint): enable typescript/dot-notation and non-nullable-type-assertion-style
  .oxlintrc.json
  packages/lit-ui-router/src/specs/core.spec.ts
  packages/lit-ui-router/src/specs/ui-sref-active.spec.ts
  packages/lit-ui-router/src/specs/ui-sref.spec.ts
  packages/lit-ui-router/src/ui-view.ts
Due: lit-ui-router

feat(lint): enable the eleven remaining clean type-aware rules
  .oxlintrc.json
Due: none

feat(lint): enable the type-noise trio
  .oxlintrc.json
  apps/sample-app-lit-mobx/src/app/mymessages/messagesStore.ts
  apps/sample-app-shared/src/app/mymessages/Message.ts
  apps/sample-app-shared/src/app/util/featureDetection.ts
  tools/typedoc-plugin-lit-ui-router/src/index.ts
Due: none

feat(lint): enable typescript/prefer-readonly
  .oxlintrc.json
  apps/sample-app-lit-mobx/src/app/main/App.ts
  apps/sample-app-lit-mobx/src/app/main/NavHeader.ts
  apps/sample-app-lit-vanilla/src/app/util/storeCommitController.ts
  packages/lit-ui-router-mobx/src/reaction-controller.ts
  packages/lit-ui-router-mobx/src/router-reaction-controller.ts
  packages/lit-ui-router-mobx/src/router-store.ts
  packages/lit-ui-router/src/transition-controller.ts
  packages/lit-ui-router/src/ui-router.ts
  packages/lit-ui-router/src/ui-view.ts
  packages/navigation-location-plugin/src/index.ts
  tools/dts-backtest/fixtures/lit-ui-router-mobx.ts
  tools/dts-backtest/fixtures/lit-ui-router.ts
Due: lit-ui-router, navigation-location-plugin

feat(lint): enable typescript/switch-exhaustiveness-check
  .oxlintrc.json
Due: none

style(lint): trim the no-deprecated suppression to reference #279
  packages/lit-ui-router/src/core.ts
Due: lit-ui-router

feat(lit-ui-router): extract registration-free context discovery into context.ts
  packages/lit-ui-router/src/context.ts
  packages/lit-ui-router/src/transition-controller.ts
  packages/lit-ui-router/src/ui-router.ts
  packages/lit-ui-router/src/ui-sref-active.ts
  packages/lit-ui-router/src/ui-sref.ts
  packages/lit-ui-router/src/ui-view.ts
Due: lit-ui-router

feat(exports): lit-ui-router/pure and lit-ui-router/elements entry points
  packages/lit-ui-router/package.json
  packages/lit-ui-router/src/elements.ts
  packages/lit-ui-router/src/pure.ts
Due: lit-ui-router

test(dts-backtest): exercise the pure and elements subpaths in the consumer fixture
  tools/dts-backtest/fixtures/lit-ui-router.ts
Due: none

docs: entry-point consumption notes for pure and elements subpaths
  docs/api/index.md
  packages/lit-ui-router/README.md
Due: none

feat(lint): triage and enable the remaining tsgolint type-aware rules (#277)
  .oxlintrc.json
  apps/sample-app-lit-mobx/src/app/global/authService.ts
  apps/sample-app-lit-mobx/src/app/main/App.ts
  apps/sample-app-lit-mobx/src/app/main/NavHeader.ts
  apps/sample-app-lit-mobx/src/app/mymessages/messagesStore.ts
  apps/sample-app-lit-vanilla/src/app/global/authService.ts
  apps/sample-app-lit-vanilla/src/app/util/storeCommitController.ts
  apps/sample-app-shared/src/app/global/dataSources.ts
  apps/sample-app-shared/src/app/global/requiresAuth.hook.ts
  apps/sample-app-shared/src/app/main/Login.ts
  apps/sample-app-shared/src/app/mymessages/Message.ts
  apps/sample-app-shared/src/app/mymessages/MessageTable.ts
  apps/sample-app-shared/src/app/mymessages/messageListUIService.ts
  apps/sample-app-shared/src/app/util/featureDetection.ts
  apps/sample-app-shared/src/app/util/util.ts
  docs/.vitepress/theme/index.ts
  packages/lit-ui-router-mobx/src/reaction-controller.ts
  packages/lit-ui-router-mobx/src/router-reaction-controller.ts
  packages/lit-ui-router-mobx/src/router-store.ts
  packages/lit-ui-router/src/core.ts
  packages/lit-ui-router/src/index.ts
  packages/lit-ui-router/src/specs/core.spec.ts
  packages/lit-ui-router/src/specs/ui-sref-active.spec.ts
  packages/lit-ui-router/src/specs/ui-sref.spec.ts
  packages/lit-ui-router/src/specs/ui-view.spec.ts
  packages/lit-ui-router/src/transition-controller.ts
  packages/lit-ui-router/src/ui-router.ts
  packages/lit-ui-router/src/ui-sref-active.ts
  packages/lit-ui-router/src/ui-sref.ts
  packages/lit-ui-router/src/ui-view.ts
  packages/navigation-location-plugin/src/index.ts
  scripts/check-catalog.ts
  scripts/check-pack.ts
  tools/dts-backtest/fixtures/lit-ui-router-mobx.ts
  tools/dts-backtest/fixtures/lit-ui-router.ts
  tools/typedoc-plugin-lit-ui-router/src/index.ts
Due: lit-ui-router, navigation-location-plugin

docs: entry-point notes for /pure and /register
  docs/api/index.md
  packages/lit-ui-router/README.md
Due: none

test(dts-backtest): cover /register and tag-map colocation in the consumer fixture
  tools/dts-backtest/fixtures/lit-ui-router.ts
Due: none

feat(lit-ui-router): drop @customElement; registration and tag map move to a register entry
  packages/lit-ui-router/custom-elements-manifest.config.js
  packages/lit-ui-router/package.json
  packages/lit-ui-router/src/context.ts
  packages/lit-ui-router/src/elements.ts
  packages/lit-ui-router/src/index.ts
  packages/lit-ui-router/src/pure.ts
  packages/lit-ui-router/src/register.ts
  packages/lit-ui-router/src/specs/test-utils.ts
  packages/lit-ui-router/src/specs/transition-controller.spec.ts
  packages/lit-ui-router/src/specs/ui-sref.spec.ts
  packages/lit-ui-router/src/transition-controller.ts
  packages/lit-ui-router/src/ui-router.ts
  packages/lit-ui-router/src/ui-sref-active.ts
  packages/lit-ui-router/src/ui-sref.ts
  packages/lit-ui-router/src/ui-view.ts
  packages/lit-ui-router/turbo.json
Due: lit-ui-router

refactor(sample-app-routes): move the shared route patterns into a runtime-neutral package
  .oxlintrc.json
  apps/sample-app-routes/package.json
  apps/sample-app-routes/src/matchers.ts
  apps/sample-app-routes/src/routes.ts
  apps/sample-app-routes/test/routes.test.ts
  apps/sample-app-routes/test/tsconfig.json
  apps/sample-app-routes/tsconfig.json
  apps/sample-app-routes/turbo.json
  apps/sample-app-shared/package.json
  apps/sample-app-shared/src/app/contacts/states.ts
  apps/sample-app-shared/src/app/main/states.ts
  apps/sample-app-shared/src/app/mymessages/states.ts
  apps/sample-app-shared/src/app/prefs/states.ts
  apps/sample-app-shared/tsconfig.json
  docs/package.json
  docs/worker/index.ts
  pnpm-lock.yaml
Due: none

chore(turbo): follow source-only dependency changes via transit deps
  apps/sample-app-lit-mobx/turbo.json
  apps/sample-app-lit-vanilla/turbo.json
  turbo.json
Due: none

docs(deploy): point the route-pattern note at sample-app-routes
  DEPLOY.md
Due: none

feat(lit-ui-router): per-element registration modules
  docs/api/index.md
  packages/lit-ui-router/README.md
  packages/lit-ui-router/custom-elements-manifest.config.js
  packages/lit-ui-router/package.json
  packages/lit-ui-router/src/register.ts
  packages/lit-ui-router/src/specs/register.spec.ts
  packages/lit-ui-router/src/specs/test-utils.ts
  packages/lit-ui-router/src/specs/transition-controller.spec.ts
  packages/lit-ui-router/src/specs/ui-sref-active.spec.ts
  packages/lit-ui-router/src/specs/ui-sref.spec.ts
  packages/lit-ui-router/src/specs/ui-view.spec.ts
  packages/lit-ui-router/src/ui-router.register.ts
  packages/lit-ui-router/src/ui-view.register.ts
  tools/dts-backtest/fixtures/lit-ui-router.ts
Due: lit-ui-router

fix(sample-app-routes): shim the core injector so param defaults can't throw in the worker
  apps/sample-app-routes/src/matchers.ts
  apps/sample-app-routes/test/matchers.test.ts
Due: none

feat(lit-ui-router): warn when skipping a duplicate element registration
  packages/lit-ui-router/src/specs/register-guard.spec.ts
  packages/lit-ui-router/src/ui-router.register.ts
  packages/lit-ui-router/src/ui-view.register.ts
Due: lit-ui-router

perf(sample-app-routes): compile matchers via deep @uirouter/core imports
  apps/sample-app-routes/package.json
  apps/sample-app-routes/src/matchers.ts
Due: none

test(sample-app-routes): differential matrix against a factory-compiled control
  apps/sample-app-routes/test/matchers.test.ts
  apps/sample-app-routes/test/routes.test.ts
Due: none

feat(sample-app-routes): standalone url matcher derived from @uirouter/core
  apps/sample-app-routes/src/url-matcher.ts
  apps/sample-app-routes/test/url-matcher.test.ts
Due: none

Path conditions:
  lit-ui-router: any of: packages/lit-ui-router/src/**
  navigation-location-plugin: any of: packages/navigation-location-plugin/src/**
