Repository simshanith/lit-ui-router: changes, and which Codecov flags are due for each by the changed paths.
All: lit-ui-router, navigation-location-plugin

Release 0.2.2 (#1183)
  packages/ui-router-server/package.json
Due: none

build: copy stateless shared source into adapter packages at build time
  .npmrc
  AGENTS.md
  docs/TURBO.md
  package.json
  packages/lit-ui-router-effect/package.json
  packages/lit-ui-router-effect/src/index.ts
  packages/lit-ui-router-effect/src/route-ref.ts
  packages/lit-ui-router-effect/src/router-ref-controller.ts
  packages/lit-ui-router-effect/src/shared/route-snapshot.ts
  packages/lit-ui-router-effect/src/specs/route-ref.spec.ts
  packages/shared/route-snapshot/package.json
  packages/shared/route-snapshot/src/route-snapshot.ts
  packages/shared/route-snapshot/src/specs/route-snapshot.spec.ts
  packages/shared/route-snapshot/tsconfig.json
  packages/shared/route-snapshot/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/repo-checks/check-shared-source.ts
  tools/repo-checks/package.json
  tools/repo-checks/shared-source.core.test.ts
  tools/repo-checks/shared-source.core.ts
  tools/repo-checks/shared-source.ts
  tools/repo-checks/sync-shared-source.ts
  tools/repo-checks/turbo.json
  turbo.json
Due: none

chore(examples): bump the examples to lit-ui-router ^1.16.3 and the adapter and plugin patches
  examples/design-system-links/package-lock.json
  examples/design-system-links/package.json
  examples/hellogalaxy-effect/package-lock.json
  examples/hellogalaxy-effect/package.json
  examples/hellogalaxy/package-lock.json
  examples/hellogalaxy/package.json
  examples/hellosolarsystem-mobx/package-lock.json
  examples/hellosolarsystem-mobx/package.json
  examples/hellosolarsystem/package-lock.json
  examples/hellosolarsystem/package.json
  examples/helloworld/package-lock.json
  examples/helloworld/package.json
  examples/lint-eslint/package-lock.json
  examples/lint-eslint/package.json
Due: none

chore(examples): bump the examples to lit-ui-router ^1.16.3 and the adapter and plugin patches (#1184)
  examples/design-system-links/package-lock.json
  examples/design-system-links/package.json
  examples/hellogalaxy-effect/package-lock.json
  examples/hellogalaxy-effect/package.json
  examples/hellogalaxy/package-lock.json
  examples/hellogalaxy/package.json
  examples/hellosolarsystem-mobx/package-lock.json
  examples/hellosolarsystem-mobx/package.json
  examples/hellosolarsystem/package-lock.json
  examples/hellosolarsystem/package.json
  examples/helloworld/package-lock.json
  examples/helloworld/package.json
  examples/lint-eslint/package-lock.json
  examples/lint-eslint/package.json
Due: none

build(atlas): the app runs the 2026-10-10 releases, ui-router-server 0.2.2
  www/atlas.lit-ui-router.dev/app/package-lock.json
  www/atlas.lit-ui-router.dev/app/package.json
Due: none

ci: credit coverage of shared source to its canonical package
  .github/codecov.yml
  .github/workflows/build-test-run.yml
  packages/shared/route-snapshot/package.json
  packages/shared/route-snapshot/vitest.config.ts
  pnpm-lock.yaml
Due: none

feat(atlas): the cover carries the client's mark
  www/atlas.lit-ui-router.dev/HISTORY.md
  www/atlas.lit-ui-router.dev/app/index.html
  www/atlas.lit-ui-router.dev/app/src/generated/brand.d.ts
  www/atlas.lit-ui-router.dev/app/src/generated/brand.js
  www/atlas.lit-ui-router.dev/app/src/views.ts
  www/atlas.lit-ui-router.dev/generator/brand.mjs
  www/atlas.lit-ui-router.dev/generator/brand/lit-flame.svg
  www/atlas.lit-ui-router.dev/generator/brand/lit-ui-router.svg
  www/atlas.lit-ui-router.dev/generator/emit-app.mjs
Due: none

ci: match shared copies sitting directly in src/shared/
  .github/codecov.yml
Due: none

ci: run the axe pass post-merge instead of on PRs
  .github/workflows/a11y.yml
  apps/sample-app-lit-e2e/README.md
  apps/sample-app-lit-e2e/scripts/run-e2e.ts
  docs/TURBO.md
Due: none

feat(ui-router-effect): add Effect bindings for @uirouter/core without Lit
  .github/codecov.yml
  .github/workflows/build-test-run.yml
  .oxlintrc.json
  packages/ui-router-effect/LICENSE
  packages/ui-router-effect/README.md
  packages/ui-router-effect/package.json
  packages/ui-router-effect/src/index.ts
  packages/ui-router-effect/src/route-ref.ts
  packages/ui-router-effect/src/shared/route-snapshot.ts
  packages/ui-router-effect/src/specs/route-ref.spec.ts
  packages/ui-router-effect/src/specs/test-utils.ts
  packages/ui-router-effect/tsconfig.json
  packages/ui-router-effect/tsconfig.src.json
  packages/ui-router-effect/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/dts-backtest/fixtures/ui-router-effect.ts
  tools/dts-backtest/package.json
  tools/dts-backtest/run.ts
  turbo.json
Due: none

ci: run the axe workflow on PRs that change the axe tooling
  .github/workflows/a11y.yml
Due: none

fix(lit-ui-router): follow the placeholder router's upgrade in the router directives
  packages/lit-ui-router/src/specs/router-upgrade.spec.ts
  packages/lit-ui-router/src/sref-active.ts
  packages/lit-ui-router/src/sref-href.ts
  packages/lit-ui-router/src/ui-sref-active.ts
  packages/lit-ui-router/src/ui-sref.ts
Due: lit-ui-router

ci: run the axe pass with the main graph, beside build_and_test
  .github/workflows/a11y-run.yml
  .github/workflows/build-test-branch.yml
  .github/workflows/build-test.yml
  apps/sample-app-lit-e2e/README.md
  apps/sample-app-lit-e2e/scripts/run-e2e.ts
  docs/TURBO.md
Due: none

feat(lit-ui-router-signals): adopt the effect adapter's snapshot, scoped router and setRouter
  packages/lit-ui-router-signals/README.md
  packages/lit-ui-router-signals/src/router-signal-controller.ts
  packages/lit-ui-router-signals/src/router-signals.ts
  packages/lit-ui-router-signals/src/specs/router-signal-controller.spec.ts
  packages/lit-ui-router-signals/src/specs/router-signals.spec.ts
Due: none

refactor(signals): split a framework-agnostic ui-router-signals out of lit-ui-router-signals
  .oxlintrc.json
  apps/sample-app-lit-signals/src/app/global/appConfig.ts
  apps/sample-app-lit-signals/src/app/global/authService.ts
  apps/sample-app-lit-signals/src/app/main/NavHeader.ts
  apps/sample-app-lit-signals/src/app/mymessages/Compose.ts
  apps/sample-app-lit-signals/src/app/mymessages/messagesStore.ts
  packages/lit-ui-router-signals/README.md
  packages/lit-ui-router-signals/src/dev-warn.ts
  packages/lit-ui-router-signals/src/index.ts
  packages/lit-ui-router-signals/src/router-signal-controller.ts
  packages/lit-ui-router-signals/src/signal-controller.ts
  packages/lit-ui-router-signals/src/specs/router-signal-controller.spec.ts
  packages/lit-ui-router-signals/src/specs/signal-controller.spec.ts
  packages/lit-ui-router-signals/src/specs/test-utils.ts
  packages/lit-ui-router-signals/vitest.config.ts
  packages/lit-ui-router-signals/vitest.setup.ts
  packages/shared/route-snapshot/src/route-snapshot.ts
  packages/ui-router-signals/LICENSE
  packages/ui-router-signals/README.md
  packages/ui-router-signals/package.json
  packages/ui-router-signals/src/index.ts
  packages/ui-router-signals/src/router-signals.ts
  packages/ui-router-signals/src/shared/route-snapshot.ts
  packages/ui-router-signals/src/specs/router-signals.spec.ts
  packages/ui-router-signals/src/specs/test-utils.ts
  packages/ui-router-signals/src/watch.ts
  packages/ui-router-signals/tsconfig.json
  packages/ui-router-signals/tsconfig.src.json
  packages/ui-router-signals/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: none

feat(navigation-location-plugin): force layout before restoring traversal scroll
  packages/navigation-location-plugin/src/index.ts
  packages/navigation-location-plugin/src/specs/index.spec.ts
Due: navigation-location-plugin

docs(navigation-location-plugin): note interceptTraverse timing and the WebKit finished rejection
  packages/navigation-location-plugin/README.md
  www/lit-ui-router.dev/packages/navigation-plugin.md
Due: none

docs(navigation-location-plugin): scope the Firefox workaround comments to iframes
  packages/navigation-location-plugin/src/index.ts
Due: navigation-location-plugin

docs(navigation-location-plugin): name the engines that need the traversal layout flush
  packages/navigation-location-plugin/README.md
  packages/navigation-location-plugin/src/index.ts
  www/lit-ui-router.dev/packages/navigation-plugin.md
Due: navigation-location-plugin

docs(navigation-location-plugin): link the traversal layout flush to its engine bug reports
  packages/navigation-location-plugin/src/index.ts
Due: navigation-location-plugin

ci: run the axe pass in ci_main after the Cypress suites
  .config/mise/config.toml
  .github/workflows/a11y-run.yml
  .github/workflows/build-test-branch.yml
  .github/workflows/build-test.yml
  apps/sample-app-lit-e2e/README.md
  apps/sample-app-lit-e2e/scripts/run-e2e.ts
  docs/TURBO.md
Due: none

Path conditions:
  lit-ui-router: any of: packages/lit-ui-router/src/**
  navigation-location-plugin: any of: packages/navigation-location-plugin/src/**
